.bg-con {
  background: linear-gradient(-45deg, #fbc7d4, #9796f0);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10%;
  min-height: 100vh;
}
.emojisCon {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
  justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  .bg-con {
    padding: 2%;
  }
}
