.win-or-loss-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff33;
  padding: 15%;
  border-radius: 10px;
  border: 5px solid #ffffff33;
}
.win-or-loss-img {
  height: 200px;
  padding: 10%;
}
.play-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.res-head {
  color: #fff;
}

.res-encourage {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.para-con {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.para-score {
  color: #6a59ff;
  font-size: 25px;
  font-weight: 600;
  padding: 0px 10px;
  margin: 0px;
}

.btn-play {
  background-color: #ffce27;
  border: none;
  outline: none;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  padding: 5px 20px;
  margin-top: 20px;
}
@media screen and (max-width: 600px) {
  .win-or-loss-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .play-con {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .win-loss-con {
    order: 0;
  }
}
