/* Write your code here. */
/* Write your code here. */
* {
  font-family: roboto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5% 10%;
  align-items: center;
  position: fixed;
  top: 0px;
  background-color: #ffffff33;
  z-index: 1;
}

.emoji-head-con {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji-logo {
  height: 50px;
}

.emoji-head {
  color: #fff;
  font-size: 25px;
  padding-left: 10px;
}

.score-con {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-para {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 0% 10px;
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 2% 5%;
  }
  .emoji-logo {
    height: 40px;
  }
  .emoji-head {
    font-size: 15px;
  }
  .score-para {
    font-size: 15px;
  }
}
